@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background: rgb(51, 77, 80);
  background: linear-gradient(
    132deg,
    rgba(51, 77, 80, 1) 0%,
    rgba(203, 202, 165, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 500px;
  background-color: antiquewhite;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 25px;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.game {
  padding: 20px;
}

/* strict aspect ratio */
.playfield-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.playfield {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #f9feff;
}

.playcard {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  /* prevent selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.playcard.hit {
  background-color: darkblue;
  color: whitesmoke;
}

.playcard-4 {
  flex-basis: 25%;
}

.playcard-5 {
  flex-basis: 20%;
}
.playcard-6 {
  flex-basis: 16.66666%;
}
.playcard-7 {
  flex-basis: 14.28571%;
}

.options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: stretch;
}

.input-group {
  flex: 1;
  font-size: 24px;
  display: flex;
  padding: 15px 0px;
}

.input-group > * {
  flex: 0;
}

.input-group > span,
.input-group label {
  margin: 0 5px;
}

.input-group > input {
  flex: 1;
}

.rules-button {
  border: 0;
  font-size: 40px;
  padding: 5px 40px;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgba(81, 87, 110, 1);
  margin: 10px 0;
}

.start-button {
  border: 0;
  font-size: 40px;
  padding: 5px 40px;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgba(41, 67, 70, 1);
}
