@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  margin: 0;
}

.superwrapper {
  background: rgb(51, 77, 80);
  background: linear-gradient(
    132deg,
    rgba(51, 77, 80, 1) 0%,
    rgba(203, 202, 165, 1) 100%
  );
  width: auto;
  height: 100vh;
  padding: 10px;
}

.wrapper {
  margin: 0 auto;
  background-color: antiquewhite;
  border-radius: 20px;
  max-width: 520px;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 25px;
}

.header h1 {
  margin: 0;
  font-size: 40px;
}

.game {
  padding: 20px;
}

/* strict aspect ratio */
.playfield-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.playfield {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #f9feff;
}

.playcard {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;

  /* prevent selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.playcard.hit {
  background-color: #165530;
  color: whitesmoke;
}

.playcard.miss {
  animation-name: miss-animation;
  animation-duration: 1s;
}

@keyframes miss-animation {
  from {
    background-color: rgba(134, 0, 0, 1);
    color: whitesmoke;
  }
  to {
    background-color: initial;
    color: initial;
  }
}

.playcard-4 {
  flex-basis: 25%;
}

.playcard-5 {
  flex-basis: 20%;
}
.playcard-6 {
  flex-basis: 16.66666%;
}
.playcard-7 {
  flex-basis: 14.28571%;
}

.options {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: stretch;
}

.input-group {
  flex: 1;
  font-size: 24px;
  display: flex;
  padding: 15px 0px;
}

.input-group > * {
  flex: 0;
}

.input-group > span,
.input-group label {
  margin: 0 5px;
}

.input-group > input {
  flex: 1;
}

button {
  font-family: 'Oswald', sans-serif;
  border: 0;
}

.rules-button {
  font-size: 40px;
  padding: 5px 40px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgba(81, 87, 110, 1);
  margin: 10px 0;
}

.start-button {
  font-size: 40px;
  padding: 5px 40px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgba(41, 67, 70, 1);
}

/* rules modal */

.rules-backdrop {
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.rules-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: background-color 0.8s ease-out;
}

.rules-wrap {
  background-color: #f9feff;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  transform: translateY(-120%);
  transition: all 0.8s ease-out;
  opacity: 0;
  max-width: 520px;
  margin: 50px auto;
}

.rules-backdrop.active .rules-wrap {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.8s ease-out;
}

.rules-header h1 {
  font-size: 40px;
  text-align: center;
  margin: 0.3em 0;
}

.rules-body {
  font-size: 24px;
  text-align: justify;
}
.rules-footer {
  text-align: center;
}

.rules-ok-button {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgba(41, 67, 70, 1);
  color: whitesmoke;
  font-size: 30px;
}
